@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

* {
    margin: 0;
}

body {
    width: 100%;
    background: #FFA17F;
    background: -webkit-linear-gradient(to right, #2E3182, #D13434);
    background: linear-gradient(to right, #2E3182, #D13434);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 436px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #26150D;
    background: rgb(255, 167, 14);
    background: radial-gradient(circle, rgba(255, 167, 14, 1) 0%, rgba(159, 109, 55, 1) 100%);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.players {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 2.5rem;
}

.player1 img,
.player2 img {
    width: 50px;
    height: 50px;
}

.stage {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px 140px 140px;
    gap: 5px 5px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    margin-top: 5px;
    margin-bottom: 8px;
    gap: 10px;
}

.square {
    width: 140px;
    height: 140px;
    background-image: url(/styles/images/background-square.jpg);
    background-size: 140px;
    display: inline-block;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.Mago,
.Dragão {
    position: relative;
}

.Mago:after {
    position: absolute;
    content: "";
    background-image: url(/styles/images/mago.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Dragão:after {
    position: absolute;
    content: "";
    background-image: url(/styles/images/dragao.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    margin-top: 5px;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;
    color: #000000;
    text-shadow: 2px -6px 12px rgba(255, 167, 14, 1);
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #26150D;
    background: rgb(255, 167, 14);
    background: radial-gradient(circle, rgba(255, 167, 14, 1) 0%, rgba(159, 109, 55, 1) 100%);
    padding: 13px 26px;
    border-radius: 3px;
    color: #000000;
    font-size: 1.3rem;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* ////......Media query......//// */

@media only screen and (max-width: 480px) {

    .header {
        width: 278px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .player1 img,
    .player2 img {
        width: 30px;
        height: 30px;
    }

    .stage {
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: 90px 90px 90px;

    }

    .square {
        width: 90px;
        height: 90px;
        background-size: 90px;
    }

    .Mago:after,
    .Dragão:after {
        background-size: 80px;
        height: 90px;
    }

    .result {
        font-size: 1rem;
    }

    button {
        padding: 5px 10px;
        font-size: 1rem;
    }
}
